body{
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(to top, white, #2d66cf, #2d66cf);
    height: 80px;
    width: 100%;
    border-bottom: 20px solid black;
    padding-top: 22px;
    padding-bottom: 10px;
}
#logo{
    max-width: 120px;
    margin-top: -30px;
    
}
#logo-text{
    margin-top: -90px;
    margin-left: 105px;
    font-size: 30px;
    color: greenyellow;
}
#logo-text::after{
    content: "Repairs";
    color: white;
    font-size: 25px;
}
.bar1, .bar2, .bar3 {
    display: flex;
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
    position: relative;
    top: -50px;
    margin-left: auto;
    margin-right: 22px;
}
li {
    list-style: none;
    line-height: 22px;
    
    padding-bottom: 10px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
li a{
    text-decoration: none;
    color: white;
    
}
#background-nav{
    background-color: black;
    width: 95%;
    margin: auto;
    margin-top: -16px;
    border-left: 10px #2d66cf solid;
    border-right: 10px #2d66cf solid;
}
.nav{
    display: none;
}

.nav.active {
    display: block;
}

.change .bar1 {
    transform: translate(0, 8px) rotate(-48deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -10px) rotate(48deg);
}
.alert-btn:hover{
    transition: 1s;
    color: greenyellow;
}
#body{
    background: linear-gradient(to top, #2d66cf, #2d66cf, white);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
#welcome{
    color: green;
    font-size: 42px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#car-repair{
    color: #2d3c4d;
}
#paragraph-car{
    color: white;
    font-size: 18px;
    line-height: 29px;
}
#information{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-left: 10px;
    box-shadow: 4px -4px 10px black;
}
#information:hover{
    transition: 1s;
    color: white;
    background-color: black;
}
#car-img{
    width: 90%;
}
.mySlides {
    display: none;

}




    

.prev, .next{
    background-color: white;
    padding: 15px;
    border-radius: 22px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    top: -30px;
    margin-left: 70px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: 0.5s;
    
}
#under-body{
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
#auto, #auto2, #auto3{
    padding-top: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#auto h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
        
}
#auto h4 {
    line-height: 25px;
    color: rgba(1, 1, 1, 0.448);
    padding-bottom: 22px;
}
.fa-car{
    font-size: 70px;
    color: blue;
    padding-top: 15px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#auto2 h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;

}
#auto2 h4 {
    line-height: 25px;
    color: rgba(1, 1, 1, 0.448);
    padding-bottom: 22px;
}
.fa-car-burst {
    font-size: 70px;
    color: rgb(7, 166, 7);
    padding-top: 15px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
#auto3 h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

#auto3 h4 {
    line-height: 25px;
    color: rgba(1, 1, 1, 0.448);
    padding-bottom: 22px;
}

.fa-gas-pump {
    font-size: 70px;
    color:  blue;
    padding-top: 15px;
}
#about-body{
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}
#about-body h2 {
    font-size: 30px;
    border-bottom: 1.5px #0556c4 solid;
    padding-bottom: 5px;
    
}
#about-body h3 {
    font-size: 25px;
    
}
#about-body h4 {
    font-size: 25px;
    font-weight: 100;
    margin-top: -10px;
}
#about-body button{
    background-color: #141629;
    color: white;
    padding: 18px;
    font-size: 20px;
    border-radius: 22px;
    cursor: pointer;
}
#about-body button:hover{
    background-color: #00ff00;
    border: none;
    transition: 1s;
}
#hr-one, #hr-two {
    display: none;
}
#about-body span {
    display: none;
}
#what-we-do h2{
    font-size: 30px;
    border-bottom: 1.5px #0556c4 solid;
    padding-bottom: 5px;
}
#what-we-do-text{
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    padding-bottom: 90px;
}
#what-we-do p{
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
}
#general-box-div{
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}
#img-box-1{
    width: 90%;
}
#img-box-1:hover{
    transition: 0.5s;
    -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
}
#general-box-div button{
    font-size: 20px;
    background-color: #0556c4;
    border-radius: 20px;
    border: #0556c4;
    padding: 13px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
#general-box-div button:hover{
    transition: 0.5s;
    color: #000000;
    background-color: #00ff00;
}
#testimonial{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
#testimonial h2{
    font-size: 30px;
        border-bottom: 1.5px #0556c4 solid;
        padding-bottom: 5px;
}
#testimonial p{
    font-size: 18px;
    line-height: 20px;
    font-weight: 900;
}
.Myslides-two{
    background-color: #141629;
    padding: 20px;
    display: none;
    width: 90%;
}
.Myslides-three{
    background-color: #141629;
        padding: 20px;
        display: none;
        width: 90%;
}
#display-slide{
    display: flex;
}
#display-slide span{
    padding-left: 22px;
}
#body-slide-two, #body-slide-three{
    padding-left: 40px;
    padding-right: 40px;
}
#text-slide-two{
    padding-top: 10px;
    color: white;
    width: 90%;
    line-height: 30px;
    font-size: 18px;
}
#jckolo{
    font-size: 20px;
    color: white;
}
#its-long{
    font-size: 20px;
    color: #0b56b5;
}

.fade-two {

    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {

        opacity: .4
    }

    to {
        opacity: 1
    }
}
footer{
    background-color: #141629;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 20px;
}
#contact h1{
    color: white;
    font-family: monospace;

}
#contact hr{
    margin-top: 5px;
    background-color: white;
        margin-right: 50%;
}
.fa-location-dot:hover, .fa-envelope:hover, .fa-phone:hover{
    color: #00ff00;
    transition: 0.4s;
    cursor: pointer;
}

#contact h2{
    color: white;
    margin-top: -5px;
    padding-bottom: 10px;
}
input, textarea{
    width: 100%;
    color: white;
    background-color: #141629;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
}
form button{
    font-size: 18px;
    background-color: white;
    border: white;
    color: #141629;
    padding: 7px;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer;
}
form button:hover{
   background-color: #00ff00;
   transition: 0.5s;
   color: white;
}
.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-linkedin-in{
    background-color: white;
    padding: 8px;
    border-radius: 22px;
    font-size: 25px;
    cursor: pointer;
    margin-left: 2px;
}
.fa-facebook-f{
padding-right: 13px;
padding-left: 13px;
}
#footer-icon{
    text-align: center;
}
.fa-facebook-f:hover, .fa-twitter:hover, .fa-instagram:hover, .fa-linkedin-in:hover{
    background-color: #00ff00;
    transition: 0.5s;
    color: white;
}
#map{
    width: 100%;
}
#newsletter{
    background-color: white;
    padding: 18px;
    width: 90%;
}
#news-map h2{
    color: white;
}
#news-map button{
    background-color: #00ff00;
    border: #00ff00;
    font-size: 17px;
    padding: 18px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}
#news-map button:hover{
    background-color: black;
    transition: 0.5s;
}

#copyright-text{
    color: white;
    text-align: center;
}








/* li a:link{
    color: greenyellow;
} */







@media screen and (min-width: 800px) {
    #body {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 90px;
    }
    #paragraph-car{
        width: 50%;
    }
        #car-img{
        width: 50%;
        float: right;
        margin-top: -330px;
        }
        #full-body-slider{
            display: flex;
            font-size: 20px;
        }
        
}
@media screen and (min-width: 880px){
#contact {
        display: flex;
        gap: 8%;
        }
        #contact h1 {
            width: 30%;
        }
    #contact h2 {
        margin-top: 23px;
    }
}

@media screen and (min-width: 579px) {
    #welcome{
        font-size: 70px;
        margin-bottom: -11px;
    }
    #car-repair{
        font-size: 30px;
    }
    #paragraph-car{
        font-size: 20px;
    }
        #contact h2{
            font-size: 20px;
        }
    #footer-location-flex{
        display: flex;
        gap: 20px;
    }
    
}


@media screen and (min-width: 1px) and (max-width: 330px) {
    #information{
        padding: 5px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 770px) {
    .nav{
        display: flex;
        
    }
       .alert-btn{
        background-color: #2d66cf;
        margin-left: 4px;
        height: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 2px;
        box-shadow: 10px -5px 10px white;
       }
       .alert-btn:hover{
        background-color: #2d3c4d;
       }
    .container{
        display: none;
    }
    #background-nav{
        background-color: transparent;
        border: none;
        margin-top: -80px;
    }
    ul{
        margin-left: 218px;
    }
   li a{
    color: white;
    padding-left: 17px;
    font-size: 20px;
    transition: 1s;
    
   }
   #hidden-btn{
        display: none;
   }
   #under-body{
    display: flex;
    gap: 30px;
    margin-top: -70px;
   }
   #about-body span {
       display: block;
       padding-bottom: 70px;
   }
   #about-body{
    padding-bottom: 120px;
    padding-left: 100px;
    padding-right: 100px;
   }
   #about-text-body{
    background-image: url('./image-/dubai-7237750_1920.jpg');
    padding-bottom: 30px;
    padding-top: 10px;
    
   }
   #about-background{
    background-color: white;
    border-radius: 22px;
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 10px;
   }
    #hr-one, #hr-two{
    display: block;
    width: 60%;
    height: 40px;
    position: relative;
    border: none;
    z-index: -2;
    }
    #hr-one{
        background-color: #51fe44;
        top: 10px;
        transform: rotate(-40deg);
        left: -240px;
        border-top-left-radius: 60px;
        border-bottom-right-radius: 60px;
    }
    #hr-two{
        background-color: #0556c4;
        bottom: -100px;
        transform: rotate(-40deg);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    left: 230px;
    }
    #img-box-1{
        width: 45%;
    }
    #box-1{
        display: flex;
        
    }
        #general-box-div{
            padding-left: 120px;
            padding-right: 10px;
            display: block;
            margin: auto;
        }
        .img-1{
            margin-right: 10px;
            margin-bottom: 22px;
            }
        .img-2{
            margin-left: 10px;
            margin-bottom: 22px;
        }
        .img-3 {
            margin-left: 10px;
            margin-bottom: 22px;
        }
        .img-4 {
            margin-left: 10px;
            margin-bottom: 22px;
        }
        #general-box-div button{
            margin-left: -100px;
        }

}
@media screen and (min-width: 885px) and (max-width: 999px) {
    ul{
        margin-left: 280px;
    }
    
}
@media screen and (min-width: 1000px) {
    body{
        overflow-x: hidden;
    }
    #hidden-btn{
        display: block;
    }
    ul{
        margin-left: 300px;
        
    }

    #contact h1{
        font-size: 30px;
    }
    #contact h2{
        font-size: 22px;
        margin-top: 25px;
    }
    #news-map{
        float: right;
        margin-top: -480px;
        margin-right: -50px;
    }
    input, textarea{
       width: 40%;
    }
    #newsletter{
        width: 50%;
    }
    #map{
        width: 50%;
    }
#news-map span {
    display: flex;
}
}
@media screen and (min-width: 1234px) {
    ul {
        margin-left: 450px;

    }
}
@media screen and (min-width: 1600px) {
    ul {
        margin-left: 700px;

    }
}
@media screen and (min-width: 1900px) {
    ul {
        margin-left: 1000px;

    }
        #general-box-div button{
            margin-left: 150px;
        }
}
@media screen and (min-width: 1431px) {
    #body{
        height: 600px;
    }
}
@media screen and (min-width: 1972px) {
    #body {
        height: 780px;
    }
    .prev, .next{
        padding: 25px;
    }
}
@media screen and (min-width: 1343px) and (max-width: 1430px) {
    #under-body{
        width: 85%;
    }
}
@media screen and (min-width: 1594px) and (max-width: 1971px) {
    #under-body {
            width: 90%;
            margin-top: -600px;
        }
}
@media screen and (min-width: 2268px) {
    #under-body{
        width: 90%;
    }
}
@media screen and (min-width: 2312px) {
    #under-body{
        margin-left: 120px;
        width: 85%;
    }
}
/* ! preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: all 0.3s linear;
}

.hide-preloader {
    z-index: -999;
    visibility: hidden;
}
/* ! end of preloader */
